<%- include("partials/header") -%>

<h1>Compose!</h1>
<form action="/" method="post">
   <div class="form-group">
        <label>Text</label>
        <input class="form-control" type="text" name="ComposeValue">
        <label>Post</label>
        <textarea class="form-control" name="forPost"  cols="30" rows="5"  ></textarea>
    </div>
        <button class="btn btn-primary" type="submit">publish</button>
    
    
    
</form>
<%- include("partials/footer") -%>